h1, h2,  form {
  display: inline-block;
  vertical-align: middle;
}

h2 {
  float: right;
}

body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  background-color: #818080;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#menuToggler, nav {
  background-color: rgba(0,0,0,0.7);
}

#menuToggler {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  color: white;
  font-size: 3em;
  text-align: right;
  line-height: 1em;
  padding: 0 1rem;
  z-index: 1;
}

main section {
  padding: 1em;
  border-bottom: 0.5px dotted hsl(0, 70%, 80%);
}

nav {
  position: fixed;
  width: 100vw;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(100wh);
  transition: 0.4s;
}

nav.open{
  transform: none;
  opacity: 1;
}

nav a {
  text-align: center;
  font-size: 2em;
  text-decoration: none;
  padding: 0.5em 1em;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

nav a:hover {
  background-color: #6755;
}

@media screen and (min-width: 515px) {

  #menuToggler {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    transform: none;
    opacity: 1;
    height: auto;
    position: static;
  }
}

nav a {
  font size: 1.3em;
}


.row {
  margin-top: 2em;
  margin-bottom: 0em;
  vertical-align: middle;
}


.mask:hover {
    background-image: url('https://balenciaga.dam.kering.com/m/48e642eeed621331/Large-6492573A5B91000_I.jpg?v=3');
}
